@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
body {
    background :(
      0deg,
      rgb(149, 189, 202) 0px,
      rgb(149, 189, 202) 2px,
      transparent 2px,
      transparent 120px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(149, 189, 202) 0px,
      rgb(149, 189, 202) 1px,
      transparent 1px,
      transparent 30px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(149, 189, 202) 0px,
      rgb(149, 189, 202) 2px,
      transparent 2px,
      transparent 120px
    ),
    linear-gradient(white, white);
}
h1,
p {
  font-family: "Libre Baskerville", serif !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.calculator {
  width: 450px;
  height: 525px;
  border: 3px solid rgb(154, 175, 209);
  background-color: rgb(55, 71, 82);
  border-radius: 10px;
  box-shadow: rgba(76, 76, 133, 0.1) 0px 4px 16px,
    rgba(110, 110, 241, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.content {
  height: 60vh;
}
.display {
  background-color: rgb(212, 218, 214);
  border: 2px solid rgb(23, 32, 46);
  height: 60px;
  font-size: 30px;
  padding: 15px;
}

#point,
#multi,
#divide,
#add,
#subtract,
#backspace,
#mod {
  font-weight: bolder;
  font-size: large;
  color: rgb(238, 16, 16) !important;
}
.btn {
  color: white !important;
}

.btn:active {
  background-color: hsla(230, 6%, 37%, 0.534) !important;
}

#equal:active {
  background-color: hsla(228, 15%, 94%, 0.534) !important;
}

#equal {
    background-color: grey;
  letter-spacing: 5px;
  border-radius: 25px;
}